.messages {
    flex: 1;
}

.messages .header {
    height: 90px;
    padding: 20px 30px;
    overflow: hidden;
    border-bottom: 1px solid #e3e7eb;
}

.messages .header h1 {
    float: left;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

.user {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.user .avatar {
    position: relative;
    float: left;
    background-image: url(../images/avatar_0.png);
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.user .avatar .status {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 16px;
    width: 16px;
    background: #fff;
    border-radius: 8px;
}

.user .avatar .status-online {
    border: 4px solid lawngreen;
}

.user .user-info {
    height: 50px;
    width: 120px;
}

.user .user-info>span {
    height: 25px;
    line-height: 25px;
}

.user-name {
    color: #0bb1f5;
    font-weight: 600;
}

.user-role {
    color: #b7bec7;
}

.change {
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}