* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.logo {
    float: left;
    font-size: 1.5em;
}

.user {
    float: right;
    padding-top: 0px;
}

.user a {
    color: #fff;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #666;
    color: #fff;
}

footer p {
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.banner {
    height: 230px;
    background-color: #6c0;
}

.banner .container {
    height: 100%;
    position: relative;
}

.tabs {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.tabs a {
    text-decoration: none;
    color: #333;
}

.tabs li {
    display: inline-block;
    padding: 5px 6px;
    border: 1px solid #333;
    background-color: #ccc;
    vertical-align: bottom;
}

.tabs li.active {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}

nav {
    border-bottom: 1px solid #ccc;
}

nav .container {
    height: 40px;
    margin-top: 20px;
    margin-bottom: -1px;
    overflow: hidden;
}

nav li {
    line-height: 39px;
    height: 40px;
    float: left;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #eee;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav .active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.main .container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

.item {
    padding: 80px;
    border: 1px solid #ccc;
    flex-grow: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}

#profile, #about {
    display: none;
}