header {
    background: url(../images/header.png) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.6);
    z-index: -1;
}

header .container {
    margin: 160px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header .container .intro {
    margin-bottom: 80px;
    max-width: 990px;
    padding: 50px 100px 20px;
    text-align: center;
}

header .container .intro h1 {
    font-size: 4em;
    font-weight: normal;
}

header .container .intro p {
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.7);
}

header .container .account {
    max-width: 990px;
    border: 1px solid #666;
    padding: 50px 100px;
    text-align: center;
}

header .container .account h3 {
    font-size: 1.5em;
    font-weight: normal;
}

header .container .account p {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.6)
}

header .container .account .sign-up {
    margin-left: -30px;
}

header .container .account .sign-up input {
    width: 240px;
    height: 50px;
    margin-left: 30px;
    padding-left: 10px;
    background: inherit;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    margin-top: 20px;
}

header .container .account .sign-up button {
    outline: none;
    width: 120px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}