* {
    box-sizing: border-box;
}

ul>li {
    list-style: none;
}

.main-wrap {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 80px auto;
    overflow: hidden;
}

#section1, #section3, #section4, #section5 {
    border-bottom: 1px solid #eee;
}

#section1 .container .intro h2 {
    font-size: 14px;
    font-weight: normal;
}

#section1 .container .intro p {
    line-height: 40px;
    font-size: 32px;
}

#section1 .container ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#section1 .container ul li {
    width: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 .container ul li .icon {
    margin-right: 30px;
    width: 100px;
    height: 100px;
}

#section1 .container ul li .item {
    display: flex;
    flex-direction: column;
}

#section1 .container ul li .item h4 {
    font-size: 20px;
    color: #141414;
    text-align: left;
}

#section1 .container ul li .item p {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: rgba(20, 20, 20, 0.7);
}

#section2 {
    background: url(../images/section2.png) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 120px 0;
}

#section2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.6);
    z-index: -1;
}

@media(min-width: 500px) {
    #section2 .content {
        color: #eee;
        max-width: 600px;
        min-width: 500px;
        margin: 0 auto;
    }
    #section2 .content h2 {
        text-align: center;
        font-size: 40px;
        font-weight: normal;
    }
    #section2 .content p {
        text-align: left;
        font-size: 18px;
        line-height: 32px;
        color: #bbb;
    }
    #section2 .right-img img {
        display: none;
    }
    #section2 .content button {
        width: 240px;
        height: 60px;
        margin-right: 20px;
        background: #fff;
        margin-top: 40px;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        outline: none;
        font-family: Montserrat-Light;
    }
}

@media(min-width:1400px) {
    #section2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #section2 .content {
        margin-left: 20%;
    }
    #section2 .content h2 {
        text-align: left;
    }
    #section2 .content p {
        max-width: 400px;
    }
    #section2 .right-img img {
        display: block;
    }
}

#section3 .container h2 {
    font-size: 40px;
    font-weight: normal;
}

#section3 .container .content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#section3 .container .content .item {
    max-width: 300px;
}

#section3 .container .content .item p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    padding: 30px;
}

#section4 .container .item {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#section4 .container .item .intro {
    margin-left: 30px;
    max-width: 320px;
}

#section4 .container .item2 {
    flex-direction: row-reverse;
}

#section4 .container .item .intro h3 {
    font-size: 24px;
    text-align: left;
}

#section4 .container .item .intro p {
    color: #333;
    text-align: left;
    line-height: 24px;
}

#section5 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section5 .container .info>h2 {
    font-size: 40px;
    font-weight: normal;
}

#section5 .container .info>p {
    font-size: 16px;
    color: #666;
    padding: 10px 100px;
    max-width: 990px;
}

#section5 .container .teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -50px;
}

#section5 .container .teams .item {
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
}

#section5 .container .teams .item:hover .intro {
    display: flex;
}

#section5 .container .teams .item .intro {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.65);
    display: none;
    font-family: Montserrat-Light;
}

#section5 .intro h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

#section5 .intro p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}

#section5 .intro .contact i {
    font-size: 50px !important;
    color: white;
    margin: 15px;
}

#section6 .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#section6 .container .contact-form {
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#section6 .contact-form h3 {
    font-size: 1.4em;
    font-weight: normal;
}

#section6 .contact-form input:first-of-type {
    margin-top: 10px;
}

#section6 .contact-form input {
    display: block;
    width: 370px;
    height: 50px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 20px;
}

#section6 .contact-form input[type="button"] {
    background: #333;
    color: #fff;
}

#section6 .contact-form textarea {
    width: 370px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 20px;
    padding-top: 10px;
}

#section6 .contacts {
    max-width: 500px;
    min-width: 400px;
    padding: 40px 80px;
}

#section6 .contacts h2 {
    font-size: 40px;
    line-height: 50px;
    color: #333;
    font-weight: normal;
}

#section6 .contacts p {
    font-size: 16px;
}

#section6 .contacts ul {
    padding-left: 0px;
    margin-top: 40px;
}

#section6 .contacts ul>li {
    margin-top: 20px;
    overflow: hidden;
}

#section6 .contacts ul>li>i {
    float: left;
    font-size: 40px;
    margin-right: 20px;
}

#section6 .contacts ul>li>p {
    font-size: 14px;
}